.color{
    background-color: rgb(248, 250, 251);
}

.tittle-card{
    background-color: rgb(216, 222, 222);
    background-position: 80px;
    background-size: 800px;
    size-adjust: 400px;
}

h1{
    text-align: center;
    
    
}

.song-card{
    
}

