.color{
    background-color: rgb(223, 223, 221);
}

.tittle-card{
    background-color: rgb(142, 155, 155);
    background-position: 80px;
    background-size: 800px;
    size-adjust: 400px;
    
}

h1{
    text-align: center;
}

.song-card{
    background-image: url("cd.png");
    background-size: 600px;
    background-repeat: no-repeat;
    background-position: center;
}

.artists-background{
    background-image: url("polaroid-Frame.png");
    background-repeat: no-repeat;
    background-position-x: left 50px;
    background-size: 370px;
}

.center{
    background-position: center;
    position: relative;
    text-align: center;

}

.artist-name{
    background-image: url("rayas.jpg");
    background-repeat: no-repeat;
    text-align: center;
    background-position: center;
    font-size: 39px;
}

.artists-img{    
    position: relative;
    left: 34px;
    top: -7px;
    border-radius: 11px;
    border: 6px solid #989191;
    height: auto;
}

/*to make the second image smaller and move it to the right*/
.artists-img2{    
    position: relative;
    left: 40px;
    top: -15px;
    width: 300px;
    height: auto;
    position: relative;
}

/*to center the text in the info section*/
.info{
    background-repeat: no-repeat;
    text-align: center;

}


/* DM Sans Font */
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
}

