.color{
    background-color: rgb(5, 5, 5);
    background-image: url("n/a");
    background-size: 300px;
    background-position-y: 60px;
    background-repeat: no-repeat;
}

.tittle-card{
    background-color: rgb(142, 155, 155);
    background-position: 80px;
    background-size: 800px;
    size-adjust: 400px;
}

.album-card{
    background-color: rgb(22, 23, 23);
 
}


.about-section{
    padding: 150px;
}

.song-tittle{
    left: 70px;
    top: 70px;
    right: 900px;
}

.audio-position {
    position: relative;
    width: 100%;      /* Grow with the container */
    max-width: 500px; /* But don't go past 500px */
    margin: 10px auto;
}

.audio-position audio {
    width: 100%;      /* The player itself fills the div */
}

h1{
    text-align: center;
    color: white;   
}

/*to make the song card with the image of the cd and the info of the song*/
.song-card{
    background-image: url("cd.png");
    background-size: 520px;
    background-repeat: no-repeat;
    background-position:left 20px;
    position: relative;
}

/*to make the first image smaller and move it to the right*/
.artists-img{    
    position: relative;
    left: 34px;
    top: -7px;
    border-radius: 11px;
    border: 6px solid #989191;
    height: auto;
    width: 440px;
    box-shadow: 10px 5px 100px rgba(252, 252, 252, 0.5);
}


.center{
    background-position: center;
    position: relative;
    text-align: center;
}

.artist-name{
    top: -50px;
    text-align: center;
    background-position: center;
    font-size: 30px;
}


/*to make the second image smaller and move it to the right*/
.artists-img2{    
    position: relative;
    top: 20px;
    width: 400px;
    height: auto;
    position: relative;
    border-radius: 20px;
    box-shadow: 2px 2px 100px rgba(255, 255, 255, 0.5);

}


.artist-about {
    position: relative;
    max-width: 650px; 
    width: 90%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    top: -80px;
    height: auto;
    border-radius: 20px;
    box-shadow: 2px 2px 100px rgba(155, 143, 143, 0.5);
}


.info{
    background-image: url(tape2.png);
    background-repeat: no-repeat;
    text-align: center;

}

footer{
    background-color: rgb(197, 197, 197);
    color: rgb(4, 4, 4);
}


/* DM Sans Font */
.dm-sans {
  font-family: "DM Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  color: white;
}


.font2{
  font-family: "Inconsolata", monospace;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  font-variation-settings:
    "wdth" 100;
  color: white;  
}


.font3 {
  font-family: "Smooch Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 20px;
  font-style: normal;
  color: white;
}

